input {
    display:inline !important;
    font-size:10px;
    font-family:sans-serif;
    background-color:white;
    color:black;
    padding:2px;
    border-width:1px;
    border-style:inset;
    border-color:black;
    width: 40px !important;
    height: 40px !important;
    padding: 3px !important;
    margin: 3px 3px 3px 7px !important;
}